<div *ngIf="isLog; else elseBlock">
  <mat-nav-list>
    <div class="profile-card">
      <div class="header">
        <h2>{{securityObject.userName}}</h2>
        <h4>mail</h4>
      </div>
      <img src="" alt="" />
    </div>

    <mat-divider></mat-divider>

    <h2 matSubHeader>navigation</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/pages">pages</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

    <mat-divider></mat-divider>
    Menu
    <mat-divider></mat-divider>
    Another menu
  </mat-nav-list>
</div>

<ng-template #elseBlock>
  <h4><a routerLink="/login" 
    *ngIf="!isLog">
   Login
 </a></h4>
</ng-template>

 
