<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <div *ngFor="let elem of portfoliosData[0]">
            <p>{{elem}}</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
</mat-grid-list>


<!--<div>
    <table mat-table [dataSource]="portfoliosData[0]" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element[0]}} </td>
        </ng-container>
        <ng-container matColumnDef="test1">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element[1]}} </td>
        </ng-container>
        <ng-container matColumnDef="test3">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element[2]}} </td>
        </ng-container>
        <ng-container matColumnDef="test5">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element[3]}} </td>
        </ng-container>
        <ng-container matColumnDef="test6">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element[4]}} </td>
        </ng-container>

    </table>
</div>

<div>
    <tr *ngFor="let name of username ; let i = index">
        <input [value]='user' type="mat-radio-button">{{username}}</input>
    </tr>
</div>
-->