<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text"
           placeholder="Action"
           aria-label="Stock"
           matInput="selectedStock"
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="onSelectedStock(option)" >
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<highcharts-chart [Highcharts]="Highcharts"                 
                  [options]="chartOptions"
                  [constructorType]="chartConstructor"
                  style="width: 100%; height: 400px; display: block;">
</highcharts-chart>